{% extends "base.html" %}
{% block title %}AllergenFinder{% endblock%}
{% block main %}
<section>
    <div class="container">
        <p><b>WELCOME</b> to AllergenFinder!
            <ul>
                <li>To start your search for potential allergens, select from the dropdown menu a few examples of products that cause irritation</li>
                <li>To improve your results, enter in more products, including ones that do not cause irritation.</li>
                <li>If you are considering purchasing any products, enter those as well to learn about their irritation risk for you.</li>
            </ul> 
        </p>
        <datalist id="products">
            {% for prod in all_products %}
            <option value="{{prod}}">                
            {% endfor %}
        </datalist>
        <form action="{{url_for('results')}}" method="post">
            <h2>Irritating</h2>
            <div class="form-group" id="bad_prods">
                <div class="form-row mb-1">
                    <input list="products" name="bad_prods" id="bad_prods_0" placeholder="Product" required>
                </div>
                <div class="form-row mb-1">
                    <input list="products" name="bad_prods" id="bad_prods_1" placeholder="Product" required>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-rounded btn-sm mb-3" onclick="addProdField('bad_prods')">+</button>

            <h2>Non-irritating</h2>
            <div class="form-group" id="good_prods"></div>
            <button type="button" class="btn btn-success btn-rounded btn-sm mb-3" onclick="addProdField('good_prods')">+</button>

            <h2>Considering</h2>
            <div class="form-group" id="consider_prods"></div>
            <button type="button" class="btn btn-success btn-rounded btn-sm mb-3" onclick="addProdField('consider_prods')">+</button>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}